asn1crypto==0.24.0
atomicwrites==1.2.1
attrs==18.2.0
bcrypt==3.1.5
cffi==1.11.5
Click==7.0
cryptography==2.1.4
docutils==0.14
enum34==1.1.6
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Session==0.3.1
Flask-SQLAlchemy==2.3.2
funcsigs==1.0.2
idna==2.6
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.11.3
keyring==10.6.0
keyrings.alt==3.0
MarkupSafe==1.1.0
more-itertools==4.3.0
pathlib==1.0.1
pathlib2==2.3.3
pluggy==0.8.0
psycopg2==2.7.6.1
py==1.7.0
py-cpuinfo==4.0.0
pycparser==2.19
pycrypto==2.6.1
pygobject==3.26.1
pytest==4.0.2
pytest-benchmark==3.1.1
pyxdg==0.25
scandir==1.9.0
SecretStorage==2.3.1
six==1.12.0
SQLAlchemy==1.2.15
statistics==1.0.3.5
Werkzeug==0.14.1
